<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediscover the world</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Main</a></li>
                <li><a href="/Explore">Intresting place</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <from action="#" method="post">
            <label for="name">
                Введіть ім'я:
                <input type="text" name="name" id="name">
            </label>
             <label for="name">
                 Введіть пароль:
                <input type="password" name="password" id="password">
            </label>
            <button type="submit">Відпрвити</button>
        </from>
    </main>
    <footer>

    </footer>
</body>
</html>